html {
  height: 100%; }
  html body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    margin: 0 0 0 0;
    height: 100%;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1; }
    html body .splash-container {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column;
      align-items: center; }
      html body .splash-container .title-block {
        -webkit-box-flex: 1 auto;
        -moz-box-flex: 1 auto;
        -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
        flex: 1 auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }
        html body .splash-container .title-block .ondoli-logo {
          -webkit-box-flex: 0 auto;
          -moz-box-flex: 0 auto;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto; }
          html body .splash-container .title-block .ondoli-logo img {
            max-width: 100%; }
      html body .splash-container .brand-area {
        -webkit-box-flex: 3 auto;
        -moz-box-flex: 3 auto;
        -webkit-flex: 3 auto;
        -ms-flex: 3 auto;
        flex: 3 auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border-radius: 2px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: #4679BD;
        background-image: url("../assets/arrowsvg.svg");
        -webkit-background-size: 40%;
        -moz-background-size: 40%;
        -o-background-size: 40%;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center; }
        @media (min-width: 40em) {
          html body .splash-container .brand-area {
            -webkit-background-size: 30%;
            -moz-background-size: 30%;
            -o-background-size: 30%;
            background-size: 30%; } }
        @media (min-width: 60em) {
          html body .splash-container .brand-area {
            -webkit-background-size: 15%;
            -moz-background-size: 15%;
            -o-background-size: 15%;
            background-size: 15%; } }
        html body .splash-container .brand-area .visit-brand {
          -webkit-box-flex: 0 auto;
          -moz-box-flex: 0 auto;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          max-width: 28%;
          max-height: 28%;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-style: dashed;
          border-right-style: none;
          border-width: 2px;
          border-color: #4679BD; }
          html body .splash-container .brand-area .visit-brand .square-content {
            font-weight: bold;
            max-width: 90%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: white;
            font-size: 1.5em;
            text-align: center;
            vertical-align: middle; }
      html body .splash-container .brand-controller {
        width: 90%;
        border-style: solid;
        border-color: black;
        border-radius: 200px;
        border-width: 2px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-box-flex: 1 12%;
        -moz-box-flex: 1 12%;
        -webkit-flex: 1 12%;
        -ms-flex: 1 12%;
        flex: 1 12%;
        margin-top: 1em;
        margin-bottom: 1em;
        align-items: center;
        justify-content: center; }
        @media (min-width: 40em) {
          html body .splash-container .brand-controller {
            width: 60%; } }
        @media (min-width: 40em) {
          html body .splash-container .brand-controller {
            -webkit-box-flex: 1 20%;
            -moz-box-flex: 1 20%;
            -webkit-flex: 1 20%;
            -ms-flex: 1 20%;
            flex: 1 20%;
            margin-top: 2em;
            margin-bottom: 2em; } }
        html body .splash-container .brand-controller .controller-name {
          -webkit-box-flex: 1 100%;
          -moz-box-flex: 1 100%;
          -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
          flex: 1 100%;
          text-align: center; }
        html body .splash-container .brand-controller .control-set {
          -webkit-box-flex: 1 40%;
          -moz-box-flex: 1 40%;
          -webkit-flex: 1 40%;
          -ms-flex: 1 40%;
          flex: 1 40%;
          margin: auto;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: row wrap;
          text-align: center; }
          html body .splash-container .brand-controller .control-set .up-button-container {
            -webkit-box-flex: 1 100%;
            -moz-box-flex: 1 100%;
            -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
            flex: 1 100%; }
            html body .splash-container .brand-controller .control-set .up-button-container .button {
              padding: 3px 6px;
              font-size: 1em;
              text-align: center;
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: orange;
              border: none;
              border-radius: 15px;
              box-shadow: 0 6px #999;
              border-radius: 50%; }
              @media (min-width: 40em) {
                html body .splash-container .brand-controller .control-set .up-button-container .button {
                  font-size: 2em;
                  padding: 5px 8px; } }
            html body .splash-container .brand-controller .control-set .up-button-container .button:hover {
              background-color: #e69500; }
            html body .splash-container .brand-controller .control-set .up-button-container .button:active {
              background-color: #e69500;
              box-shadow: 0 3px #666;
              transform: translateY(4px); }
          html body .splash-container .brand-controller .control-set .one .button {
            padding: 3px 6px;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: red;
            border: none;
            border-radius: 15px;
            box-shadow: 0 6px #999;
            border-radius: 50%; }
            @media (min-width: 40em) {
              html body .splash-container .brand-controller .control-set .one .button {
                font-size: 2em;
                padding: 5px 8px; } }
          html body .splash-container .brand-controller .control-set .one .button:hover {
            background-color: #e60000; }
          html body .splash-container .brand-controller .control-set .one .button:active {
            background-color: #e60000;
            box-shadow: 0 3px #666;
            transform: translateY(4px); }
          html body .splash-container .brand-controller .control-set .zero .button {
            padding: 3px 6px;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: orange;
            border: none;
            border-radius: 15px;
            box-shadow: 0 6px #999;
            border-radius: 50%; }
            @media (min-width: 40em) {
              html body .splash-container .brand-controller .control-set .zero .button {
                font-size: 2em;
                padding: 5px 8px; } }
          html body .splash-container .brand-controller .control-set .zero .button:hover {
            background-color: #e69500; }
          html body .splash-container .brand-controller .control-set .zero .button:active {
            background-color: #e69500;
            box-shadow: 0 3px #666;
            transform: translateY(4px); }
          html body .splash-container .brand-controller .control-set .left-button-container {
            -webkit-box-flex: 1 40%;
            -moz-box-flex: 1 40%;
            -webkit-flex: 1 40%;
            -ms-flex: 1 40%;
            flex: 1 40%;
            border-radius: 50%; }
          html body .splash-container .brand-controller .control-set .right-button-container {
            -webkit-box-flex: 1 40%;
            -moz-box-flex: 1 40%;
            -webkit-flex: 1 40%;
            -ms-flex: 1 40%;
            flex: 1 40%;
            border-radius: 50%; }
          html body .splash-container .brand-controller .control-set .down-button-container {
            -webkit-box-flex: 1 100%;
            -moz-box-flex: 1 100%;
            -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
            flex: 1 100%;
            border-radius: 50%;
            margin-bottom: 4px; }
          html body .splash-container .brand-controller .control-set .brand-controller-title {
            -webkit-box-flex: 1 100%;
            -moz-box-flex: 1 100%;
            -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
            flex: 1 100%;
            font-size: 1em;
            font-weight: bold; }
    html body .footer {
      -webkit-box-flex: 0 auto;
      -moz-box-flex: 0 auto;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column;
      width: 100%;
      text-align: center;
      border-top-style: solid;
      border-color: #a6a6a6;
      border-width: 1px; }
      html body .footer .contact {
        -webkit-box-flex: 1 100%;
        -moz-box-flex: 1 100%;
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
        margin: auto; }
        html body .footer .contact .light {
          color: #4d4d4d; }
        @media (min-width: 40em) {
          html body .footer .contact {
            -webkit-box-flex: 1 40%;
            -moz-box-flex: 1 40%;
            -webkit-flex: 1 40%;
            -ms-flex: 1 40%;
            flex: 1 40%; } }
      html body .footer .mailing-list {
        -webkit-box-flex: 1 100%;
        -moz-box-flex: 1 100%;
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding-top: 0.5em; }
        html body .footer .mailing-list #email {
          border-radius: 2px;
          color: #4d4d4d; }
          html body .footer .mailing-list #email:focus {
            color: black; }
        html body .footer .mailing-list #submit-button {
          color: white;
          align-self: flex-start;
          border-radius: 2px;
          background-color: #4CAF50;
          /* Green */
          border-color: #4CAF50;
          text-align: right;
          text-decoration: none;
          display: inline-block; }
          html body .footer .mailing-list #submit-button:hover {
            background-color: #6ec071;
            border-color: #6ec071; }
      html body .footer .copy {
        -webkit-box-flex: 1 100%;
        -moz-box-flex: 1 100%;
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
        font-size: 0.8em;
        width: 100%;
        padding-bottom: 0.2em;
        color: #333333; }
        @media (min-width: 40em) {
          html body .footer .copy {
            text-align: left;
            padding-left: 1em; } }
