$mediumBreakPoint: 30em;
$largeBreakPoint: 50em;
@mixin breakpoint($point) {
    @if $point == medium {
        @media (min-width: $mediumBreakPoint)  { @content; }
    }
    @else if $point == large {
        @media (min-width: $largeBreakPoint) { @content; }
    }
    @else if $point { // allows custom breakpoints
        @media (min-width: $point) { @content; }
    }
}
.breaking-mobile {
    @include breakpoint(medium) {
        display: none;
    }
}
.breaking-medium {
    display: none;
    @include breakpoint(medium) {
        display: block;
    }
    @include breakpoint(large) {
        display: none;
    }
}
.breaking-large {
    display: none;
    @include breakpoint(large) {
        display: block;
    }
    @include breakpoint(medium) {
        display: none;
    }
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flexorder($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
body{
  margin: 0px 0px 0px 0px;
  @include flexbox();
  flex-flow: column;
  min-height: 100vh;
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;
  .splash-container{
    // background-image: url("../old-paper.jpg");
    @include flex(1);
    @include flexbox();
    flex-flow: column;

      .heading{
        @include flex(3 auto);
        width: 100%;
        text-align: center;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        h1 {    // background-image: url("../old-paper.jpg");

          color: white;
          font-size: 3em;
          margin-top:20%;
        }
        h3 {
          color: white;
        }
      }
      .brands-container{
        @include flex(1 auto);
        width: 100%;

        .brand{
          .brand-logo{

          }
          .brand-name{
          }
        }
      }
  }
  .footer{
    @include flex(0 60px);
    background-color: #f2f2f2; //#141414;
    width: 100%;
    text-align: center;
    .contact{
    }
    .mailing-list{
      #email-input{
      }
      #submit-button{
      }
    }
  }
}
