$mediumBreakPoint: 40em;
$largeBreakPoint: 60em;
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: $mediumBreakPoint) {
      @content;
    }
  } @else
  if $point == large {
    @media (min-width: $largeBreakPoint) {
      @content;
    }
  } @else
  if $point {
    // allows custom breakpoints
    @media (min-width: $point) {
      @content;
    }
  }
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin flexorder($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin button($color) {
  .button {
    padding: 3px 6px;
    font-size: 1em;
    @include breakpoint(medium) {
      font-size: 2em;
      padding: 5px 8px;
    }

    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: $color; //#4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    // height: 100%;
    border-radius: 50%;
  }

  .button:hover {
    background-color: darken($color, 5%); //#3e8e41;
  }

  .button:active {
    background-color: darken($color, 5%); // #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }
}

html {
  height: 100%;
  // size: 16px;
  body {
    @include flexbox();
    flex-flow: column;
    min-height: 100%;
    // max-height: 100vh;
    margin:0 0 0 0;
    height: 100%;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;

    .splash-container {
      // background-image: url("../old-paper.jpg");
      @include flex(1);
      @include flexbox();
      flex-flow: column;
      align-items: center;
      // background-color:blue;
      .title-block {
        @include flex(1 auto);
        @include flexbox();
        align-items: center;
        justify-content: center;
        width: 100%;

        .ondoli-logo {
          @include flex(0 auto);
          img {
            max-width: 100%;
          }
        }
        // max-height: 80px;
        text-align: center;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      }

      .brand-area {
        @include flex(3 auto);
        @include flexbox();
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border-radius: 2px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: #4679BD;
        background-image: url("../assets/arrowsvg.svg");
        -webkit-background-size: 40%;
        -moz-background-size: 40%;
        -o-background-size: 40%;
        background-size: 40%;
        @include breakpoint(medium){
          -webkit-background-size: 30%;
          -moz-background-size: 30%;
          -o-background-size: 30%;
          background-size: 30%;
        }
        @include breakpoint(large){
          -webkit-background-size: 15%;
          -moz-background-size: 15%;
          -o-background-size: 15%;
          background-size: 15%;
        }
        background-repeat: no-repeat;
        // background-attachment: fixed;
        background-position: center;

        .visit-brand {
          @include flex(0 auto) @include flexbox();
          align-items: center;
          justify-content: center;
          // position: relative;
          width: 200px;
          height: 200px;
          max-width: 28%;
          max-height: 28%;
          border-top-left-radius: 10px;
          border-bottom-left-radius:10px;
          border-style:dashed;
          border-right-style:none;
          border-width: 2px;
          border-color:#4679BD;
          // overflow: hidden;
          // background: #4679BD;

          .square-content {
            font-weight: bold;
            max-width:90%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: white;
            font-size: 1.5em;
            text-align: center;
            vertical-align: middle;
          }
        }
      }

      .brand-controller {
        width: 90%;
        @include breakpoint(medium) {
          width: 60%;
        }
        // height: 5%;
        // background: #a84909;
        border-style: solid;
        border-color: black;
        border-radius: 200px;
        border-width: 2px;
        @include flexbox();
        flex-flow: row wrap;
        @include flex(1 12%);
        margin-top: 1em;
        margin-bottom: 1em;
        @include breakpoint(medium) {
          @include flex(1 20%) margin-top: 2em;
          margin-bottom: 2em;
        }
        align-items: center;
        justify-content: center;

        .controller-name {
          @include flex(1 100%);
          text-align: center;
        }

        .control-set {
          // padding-right: 100px;
          @include flex(1 40%);
          margin: auto;
          @include flexbox();
          justify-content: center;
          align-items: center;
          flex-flow: row wrap;
          text-align: center;

          .up-button-container {
            @include flex(1 100%);
            @include button(orange);
          }

          .one {
            @include button(red);
          }

          .zero {
            @include button(orange);
          }

          .left-button-container {
            @include flex(1 40%);
            border-radius: 50%;
          }

          .right-button-container {
            @include flex(1 40%);
            border-radius: 50%;
          }

          .down-button-container {
            @include flex(1 100%);
            border-radius: 50%;
            margin-bottom: 4px;
          }

          .brand-controller-title {
            @include flex(1 100%);
            font-size: 1em;
            font-weight: bold;
          }
        }
      }
    }

    .footer {
      @include flex(0 auto);
      @include flexbox();
      flex-flow: column;
      // @include breakpoint(medium){
      //   flex-flow: row;
      // }
      // background-color:darken(#f2f2f2, 20%);
      width: 100%;
      // height: 400px;
      text-align: center;
      border-top-style: solid;
      border-color: darken(#f2f2f2, 30%);
      border-width: 1px;
      // size: 1em;
      .contact {
        @include flex(1 100%);
        // background-color: blue;
        margin: auto;

        .light {
          color: lighten(black, 30%);
        }
        @include breakpoint(medium) {
          @include flex(1 40%);
        }
      }

      .mailing-list {
        // margin-top: 5em;
        @include flex(1 100%);
        margin: auto;
        justify-content: center;
        align-items: center;

        #email {
          border-radius: 2px;
          color:lighten(black,30%);
          &:focus{
            color:black;
          }
        }

        #submit-button {
          $button-color: #4CAF50; //#e6e6e6;
          color: white;
          align-self: flex-start;
          border-radius: 2px;
          background-color: $button-color;
          /* Green */
          border-color: $button-color;
          text-align: right;
          text-decoration: none;
          display: inline-block;

          &:hover {
            background-color: lighten($button-color, 10%);
            border-color: lighten($button-color, 10%);
          }
        }
        padding-top: 0.5em;
      }

      .copy {
        @include flex(1 100%);
        // margin: auto;
        font-size:0.8em;
        width: 100%;
        padding-bottom: 0.2em;
        color: lighten(black, 20%);
        // background-color: blue;
        // justify-content: flex-start;
        @include breakpoint(medium) {
          text-align: left;
          padding-left: 1em;

        }
      }
    }
  }
}
